body{
  background-color: #000;
}

.body{
  font-family:'Lato', 'sans-serif';
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  background-color: #000;
}

main {
  background-color: #000;
  color: white;
}

.site-footer
{
  background-color:#000000;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  border-top: solid 0.5px #fff;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373;
  text-decoration:none;
  font-weight: bold;
}


.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:rgba(255, 255, 255, 0.695);
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0;
    text-align:center;
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.instagram:hover
{
  background-color:#dd2a7b;
}
.social-icons a.spotify:hover
{
  background-color: #1db954;
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }

  .fixed-top{
    position: relative!important;
  }

  .scrolled{
    height: 120px;
  }
}


.navbar-collapse {
  flex-grow: 0 !important;
}

.container-fluid{
  width: 80% !important;
}

/*
.navbar{
  background-color: rgba(0,0,0,0) ; 
  transition:  background-color 0.2s, height 0.2s;
  transition-timing-function: ease-in-out;
  height: 120px
}*/

.navbar{
  
  transition:  background-color 0.2s, height 0.2s, backdrop-filter 0.2s;
  transition-timing-function: ease-in-out;
  height: 120px;
  -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    background-color: rgba(23, 19, 19, 0.0)
  
}

.navbar:hover{
  background-color: rgba(0, 0, 0, 0.8);
  height: 120px;
  -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.navbar-light .navbar-nav .nav-link{
  color: #fff !important;
  font-weight: lighter;
}

/*Background image*/
.cropped{
   /* width of container */
  height: 100vh; /* height of container */
  width: 100vm; /* height of container */

  overflow: hidden;
}

/*Navbar scrolled*/
.scrolled{
  background-color: rgba(23, 19, 19, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 50px
}

/*Testo Immagine Home*/
.image-container{
  position: relative;
  text-align: center;
  color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-title{
 /* color: white;
  font-size: 6.4rem;
  letter-spacing: -.01em;
  line-height: 1.125;
  font-family: 'Water Brush', cursive;*/
  font-size: 120px;
    margin: 64px auto;
    line-height: 1.1;
    letter-spacing: -0.8px;
    color: white;
    font-family: 'lato', cursive;
    font-weight: bold;

}


.centered-bottom{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Modal */
.modal-open{
  padding: 0px !important;
  overflow: none !important;
}



.modal-content{
  color: 'red';
}

/* timeline cards */
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
  color: rgba(0, 0, 0, 0.8);
  width: 40vh;
}


.img-timeline {
  opacity: 0.4;
}

.each-event:hover > *:not(.card-img-overlay) {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.card-title-timeline {
  color: #ea4c89;
  font-weight: bold;
  text-decoration:  none;
}

.timeline-subtitle {
  color: #f881ae;
}


/*Scrollbar*/

 ::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
           box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   border-radius: 10px;
   background-color: #000000;
 }

::-webkit-scrollbar
{
  width: 3px;
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
          box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #ea4c89;
}

/*nav-link*/
.nav-link{
align-items: stretch;
}

.nav-link:hover{
  border-bottom: 0.5px solid rgb(255, 255, 255);
}

.black-bg {
  background-color: black;
}

.about-cit {
  font-size: 45px;
  font-weight: bolder;
  text-align: center;
  line-height: 3rem;
}

.nav-item{
  height: 120px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.nav-link-padding{
  padding: 20px !important;
}

.about-citation-author {
  margin-top: 40px;
  font-size: 25px;
  text-align: right;
  font-style: italic;
  font-weight: 100;
}

#mission {
  color: #ea4c89;
  font-size: large;
}

.scopri-artisti {
  background-color: #ea4c89 !important;
  width:fit-content;
  height: fit-content;
  /*max-width: 18rem;*/
}

.pagina-attiva{
  font-weight: 900;
  color: #ea4c89 !important;
}

@media (min-width: 1024px) {
  .mission-text {
    max-width: 648px !important;
  }
}

@media (max-width: 767px) {

  .mission-text {
    font-size: 18px;
    line-height: 1.56;
  }

}

.image-21{
  max-width:100%;
}

.container {
  max-width: 70% !important;
}

@media (max-width: 991px) {
  .navbar{
    background-color:black !important;
  }
  .collapsed {
    border-color: rgba(255, 255, 255, 0) ;
    background-color: red;
  }

  .navbar-toggler{
    border-color: rgba(207, 13, 13, 0) !important ;
    transition:none;
    color: rgb(0, 0, 0) !important ;
  }

  .container{
    max-width: 100%!important;
    background-color:black;
    padding-right: 50px!important;
    padding-left: 50px!important;

  }

  .nav-link-padding{
    padding: 00px !important;
  }

  .nav-link{
    font-size: 24px;
  }

  .nav-item{
    height: 100px;
  }

  .header{
    background-color:black !important;
  }

}


.modal-content{
  -webkit-box-shadow: 0 0 10px #eb598a4e, 0 0 40px #eb598a22, 0 0 80px #eb598a0f;
  box-shadow: 0 0 10px #eb598a6d, 0 0 40px #eb598a62, 0 0 80px #eb598a2f;
}

/*Pagina documentazione*/
.h1title{
  font-size: 80px;
    margin: 64px auto;
    line-height: 1.1;
    letter-spacing: -0.8px;
}

.h2title{
  margin-top: 100px;
  font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.8px;
    
}

.h3title{
  margin-top: 50px;
  font-size: 30px;
    line-height: 0.8;
    letter-spacing: -1.5px;
    font-weight: bold;
}

.h4title{
  font-size: 28px;
  line-height: 1;
  letter-spacing: 0.2px;
  font-style: italic;
  font-weight: lighter;
 
}

.h5title{
  margin-top: 3rem;
  margin-bottom: 0rem;
}

.p-doc{
  display: block;
  margin-block-start: 0em;
   margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20px;
    font-weight: 300;
}

.doc-title {
  height: 300px;
}

.testo-documentazione{
  max-width:700px;
  margin:auto;
}

.site-wireframe{
  width: 80%;
}

.documentation-link{
  color: #ea4c89;
  font-weight: bold;
  text-decoration:  none;
}

.documentation-link:active{
  color: #ff0162;
  font-weight: bold;
  text-decoration: underline;
}


.documentation-link:hover{
  color: #ff0162;
  font-weight: bold;
  text-decoration: underline;
}

#scelte-grafiche{
  margin-top:40px
}
@media (max-width: 767px) {

  /**/

  .carousel-item{
    height: 450px !important;;
  }

  .p-doc{
    font-size: 18px;
    line-height: 1.56;
    
  }

  .testo-documentazione{
    margin-left: 15px;
    margin-right: 15px;
  }

  .h1title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: -0.4px;

  }

  .site-wireframe{
    width: 100%;
  }


  .centered-about{
    transform: translate(-50%, -20%);
  }

.doc-ul{
  font-size: 18px!important;
  line-height: 1.56;
}

.logo-documentation{
 
  width: 100%!important;
  
}

  .modal-content {
    background-color: rgb(0, 0, 0)!important;
  }
  /*Responsive Modal*/
  .form-title{
    color:#fff;
  }

}

.footer-logo{
  margin-bottom:20px;
}

#paletteImage{
  width: auto;
  max-height: 256px;
}

.bolder{
  font-weight:bold;
  
}


/*palette documentazione*/
.colorpalette{
  padding: 20px;
  border-radius: 2px;
  text-align: center;
  font-weight: lighter;
text-transform: uppercase;
font-size:1rem;
letter-spacing: 1;
margin-bottom: 0px;
}
 /*id colori palette*/
#color-EA4C89{
  background-color:#ea4c89;
}
#color-8F00FF{
  background-color:#8F00FF;
}
#color-FFFFFF{
  background-color:#FFFFFF;
  color:black;
}
#color-000000{
  background-color:#000000;
  border:1px solid rgba(255, 255, 255, 0.096)
}

/*ul documentazione*/
.doc-ul{
  font-size:20px;
  font-weight:lighter;
  list-style-type: circle;

}

.logo-documentation{
  align-items: left ;
  opacity: 0.8;
  width: 100%;
}


  

/*corsi*/
.lezione{
  width: 100%;
  height: 200px;
  margin-bottom: 1rem;
  background-size: cover;
  background-image: url("https://pixelprowess.com/i/carousel_swamp.png");
  transition:all 0.2s;
  
}

.lezione:hover{
  color: #fff;
  background: #EB598A;
  -webkit-box-shadow: 0 0 10px #eb598a4e, 0 0 40px #eb598a22, 0 0 80px #eb598a0f;
          box-shadow: 0 0 10px #eb598a6d, 0 0 40px #EB598A, 0 0 80px #eb598a2f;
}



#led-zeppelin-bg-stairway{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.53)), url("https://e.snmc.io/i/1200/s/10a2f05241e036f7d2895df3ef6ce663/5026476");
  background-position: center center;
  background-size: cover;

}

#led-zeppelin-bg-blackdog{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.53)), url("https://www.virginradio.it/upload/black_dog-1606900865449.png");
  background-position: center center;
  background-size: cover;

}

#rolling-stones-bg-paintitblack{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.53)), url("https://live.staticflickr.com/6232/6256809340_18dab26835_b.jpg");
  background-position: center center;
  background-size: cover;
}

#rolling-stones-bg-satisfaction{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.53)), url("https://live.staticflickr.com/4772/40951892541_c079bfc4ae_b.jpg");
  background-position: center center;
  background-size: cover;

}




.categoria-lezione{
  text-align: center;
  background-color: #29aafe;
  padding:10px;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  margin-top:133px;
 }


.pagamento{
  background-color: #8F00FF;
  color: white;
}

.gratuita{
  background-color: white!important;
  color: #000;

}

.lezione-non-attiva{
  opacity: 0.5;
  cursor: default;
  pointer-events: none;  
  text-decoration: none;      

}
.lezione-attiva{
  text-decoration:none;
}






.testo-lezioni-corsi{
  position: relative;
padding-left:20px;
padding-top: 20px;
height: 23px;
color: rgb(255, 255, 255)
}

.search-bar{
  margin-top:20px;
  border: 1px solid rgba(255, 255, 255, 0.425);
  padding: 15px;
  border-radius: 10px;
  cursor: not-allowed;
  font-size: 20px;
  font-weight:100;
  background: rgba(255, 255, 255, 0.038)
}

.right{
  text-align: right;
}

.nome-lezione{
  margin-left: 20px;
}
.carousel-item{
height:500px;
background-size: auto;
  background-position: center center;
}

#lezione1{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.719)), url("https://storage.googleapis.com/hivemusic/2019/04/image-rolling-stones-cover.jpg");
background-position: center center;
background-size: cover;
  backdrop-filter: blur(20px)


}

#h1corsi{
  margin-top:95px;
  text-align: left!important;
  margin-bottom: 20px;;
}

#h2corsi{
  margin-top:125px;
  text-align: left!important;
}

.text-slide-corsi{
  font-size: 1.5rem;
}

.button-slide-corsi{
  margin: 0px!important;
  background-color: #ea4c89!important;
}



.image-about{
 padding: 20vh;
}

#image-about-1{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.719)), url("https://leganerd.com/wp-content/uploads/2021/09/Led-Zeppelin-Laurance-Ratner-scaled.jpg");
  background-position: center center;
  background-size: cover;
}

#image-about-2{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.719)), url("https://leganerd.com/wp-content/uploads/2021/09/Led-Zeppelin-Laurance-Ratner-scaled.jpg");
  background-position: center center;
  background-size: cover;
}

.background-corsi{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.719)), url("https://leganerd.com/wp-content/uploads/2021/09/Led-Zeppelin-Laurance-Ratner-scaled.jpg");
height:200px;
background-size: cover;
}

.homepage-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.719)), url("https://c.pxhere.com/photos/e6/3b/CC0_Concert_Crowd_Entertainer_Instrument_Listen_Musician_Play-1611172.jpg!d");
  background-position: center center;
  background-size: cover;

}

.punto{
  color:#ea4c89;
  font-size:10rem;
  font-weight: bolder;
}