.body{
  font-family:'Lato', 'sans-serif';
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  background-color: #000;
}

main {
  background-color: #000;
  color: white;
}

.site-footer
{
  background-color:#000000;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  border-top: solid 0.5px #fff;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


.navbar-collapse {
  flex-grow: 0 !important;
}

.container-fluid{
  width: 80% !important;
}

/*
.navbar{
  background-color: rgba(0,0,0,0) ; 
  transition:  background-color 0.2s, height 0.2s;
  transition-timing-function: ease-in-out;
  height: 120px
}*/

.navbar{
  
  transition:  background-color 0.2s, height 0.2s, backdrop-filter 0.2s;
  transition-timing-function: ease-in-out;
  height: 120px;
  -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    background-color: rgba(23, 19, 19, 0.0)
  
}

.navbar:hover{
  background-color: rgba(0, 0, 0, 0.8);
  height: 120px;
  -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.navbar-light .navbar-nav .nav-link{
  color: #fff !important;
}

/*Background image*/
.cropped{
   /* width of container */
  height: 100vh; /* height of container */
  width: 100vm; /* height of container */

  overflow: hidden;
}

/*Navbar scrolled*/
.scrolled{
  background-color: rgba(23, 19, 19, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 50px
}

/*Testo Immagine Home*/
.image-container{
  position: relative;
  text-align: center;
  color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-title{
  color: white;
  font-size: 6.4rem;
  letter-spacing: -.01em;
  line-height: 1.125;
}

.centered-bottom{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Modal */
.modal-open{
  padding: 0px !important;
  overflow: auto !important;
}



.modal-content{
  color: 'red';
}

/* timeline cards */
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
  color: rgba(0, 0, 0, 0.8);
  width: 40vh;
}
/*Scrollbar*/

 ::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
           box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   border-radius: 10px;
   background-color: #000000;
 }

::-webkit-scrollbar
{
  width: 3px;
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
          box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #ea4c89;
}

/*nav-link*/
.nav-link{
align-items: stretch;
}

.nav-link:hover{
  border-bottom: 0.5px solid rgb(255, 255, 255);
}

.black-bg {
  background-color: black;
}

.about-cit {
  font-size: 45px;
  font-weight: bolder;
}

.nav-item{
  height: 120px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.nav-link-padding{
  padding: 20px !important;
}

.about-citation-author {
  margin-top: 40px;
  font-size: 25px;
  text-align: right;
  font-style: italic;
  font-weight: 100;
}

#mission {
  color: #ea4c89;
  font-size: large;
}

.scopri-artisti {
  background-color: #ea4c89 !important;
  width:fit-content;
  height: fit-content;
  /*max-width: 18rem;*/
}

.pagina-attiva{
  font-weight: 900;
  color: #ea4c89 !important;
}

@media (min-width: 1024px) {
  .mission-text {
    max-width: 648px !important;
  }
}

@media (max-width: 767px) {

  .mission-text {
    font-size: 18px;
    line-height: 1.56;
  }

}

.image-21{
  max-width:100%;
}

.container {
  max-width: 70% !important;
}

@media (max-width: 767px) {
.navbar{
  background-color:black !important;
}
.collapsed {
  border-color: rgba(255, 255, 255, 0) ;
  background-color: red;
}

.navbar-toggler{
  border-color: rgba(207, 13, 13, 0) !important ;
  transition:none;
  color: rgb(0, 0, 0) !important ;

}

.container{
  max-width: 100%!important;
  background-color:black;
  padding-right: 50px!important;
  padding-left: 50px!important;

}

.nav-link-padding{
  padding: 00px !important;
}

.nav-link{
  font-size: 24px;
}

.nav-item{
  height: 100px;
}
}